
<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-End</h3>
            <p> Trabajo desde el Desarrollo, Pruebas y puesta en Producción</p>
            <p class="cabecera">
                Stack:
            </p>

            <p>
                ASP.NET Core,SQL Server
            </p>

            <p class="cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web-API</li>
                <li>ASP-NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>NODE.JS</li>

            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius:0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>Puedo hacer front-end robustos y escalables, según requerimientos del cliente</p>
            <p class="cabecera">
                Stack:
            </p>

            <p>
                React, Angular, Blazor
            </p>
            <p class="cabecera">
                Experiencia:
            </p>

            <ul>
                <li>React-Hooks</li>
                <li>Angular Material</li>
                <li>Jquery</li>
                <li>Razor</li>
            </ul>
        </div>




    </div>
