
<div class="text-center">
    <h1 class="display-4">Soy @Model.Persona.Nombre </h1>
    <h2>Soy un Desarrollador Full Stack especializado en Tecnologías .Net y Javascript</h2>
    <img id="foto1"
         src="./imagenes/descarga.jpeg" />
</div>

<div class="text-center">
    <img id="imagen" src="~/imagenes/dibujo.jpeg" />
</div>

<div class="row justify-content-center text-center color margen">
    <div class="col col-md-7 seccion-bienvenida ">
        <h1>Te doy la Bienvenida a mi Portafolio</h1>
        <p>Soy un programador apasionado con experiencia en diversas tecnologías, incluyendo desarrollo web, aplicaciones móviles y soluciones en la nube. Me especializo en lenguajes como JavaScript, ASP.NET y Java, siempre buscando mejorar la eficiencia y la calidad del código. Mi enfoque es siempre mantenerme actualizado con las últimas tendencias y mejores prácticas del sector. </p>
    </div>
</div>